.parent{
  width: 1200px;
  height: 1200px;
  border: 5px solid red;
 
  display: flex;
  align-items: center;
}

.child{
    color: red;
    width: 200px;
    height: 200px;

    border: 3px solid blue;
    background-color: black;
}

.child1{
    color: red;
    width: 200px;
    height: 200px;

    border: 3px solid blue;
    background-color: rgb(0, 26, 255);
}

.child2{
    color: red;
    width: 200px;
    height: 200px;

    border: 3px solid blue;
    background-color: rgb(0, 255, 42);
}

.child3{
    color: red;
    width: 200px;
    height: 200px;

    border: 3px solid blue;
    background-color: rgb(234, 0, 255);
}

.child4{
    color: red;
    width: 200px;
    height: 200px;

    border: 3px solid blue;
    background-color: rgb(0, 118, 131);
}