.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    color: white;
}

button {
    width: 100px;
    height: 30px;
    box-shadow: 5px 5px -5px;
    border: none;
    border-radius: 10px;
}

body {
    animation-name: backanimation;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes backanimation{
    0% {
        background-color: black;
    }
    50% {
        background-color: darkred;
    }
    100% {
        background-color: darkblue;
    }
}