* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    width: 250px;
    height: 100%;
    background-color: red;
    border-radius: 10px;
    border: 2px solid red;
}