.firstContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    height: 350px;
    background-color: grey;

    text-align: center;
    border-radius: 10px;
    margin-top: 120px;
}

button {
    width: 195px;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
}

button:hover {
    border: 3px solid black;
}