* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

.jokeDiv {
    position: absolute;
    left: 150px;
    top: 200px;

    width: 400px;
    height: 400px;
    background-color: grey;
    color: white;
    border-radius: 10px;
}

.advice {
    position: absolute;
    left: 850px;
    top: 200px;

    width: 400px;
    height: 400px;
    background-color: grey;
    color: white;
    border-radius: 10px;
}

.textJoke {
    position: absolute;
    margin-top: -20px;
    color: black;
    left: 180px;
}

.textAdvice {
    position: absolute;
    margin-top: -20px;
    color: black;
    left: 180px;
}

#jokeButton {
    position: absolute;
    left: 150px;
    top: 355px;
    width: 110px;
    height: 30px;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
    border: none;
}

#jokeButton:hover {
    border: 2px solid white;
}

#adviceButton {
    position: absolute;
    left: 150px;
    top: 355px;
    width: 110px;
    height: 30px;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
    border: none;
}

#adviceButton:hover {
    border: 2px solid white;
}

#jokeDisplay {
    text-align: center;
}

#adviceDisplay {
    text-align: center;
}