.container {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: absolute;
}

.child1 {
    width: 250px;
    height: 250px;
    border: 2px solid wheat;
    position: absolute;
    left: 7%;
    top: 7%;
}

.child2 {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
    left: 7%;
    top: 7%;
}

.child3 {
    width: 150px;
    height: 150px;
    border: 2px solid wheat;
    position: absolute;
    left: 10%;
    top: 10%;
}

.child4 {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    position: absolute;
    left: 15%;
    top: 15%;
}