#sign{
    text-align: center;
}

.sumb{
    color: rgb(0, 8, 95);
    background-color: rgb(42, 69, 143);
    font-size: medium;
    font-weight: 600;
}

.sign2{
    text-align: center;
}

p{
    text-align: center;
}

.but{
    text-align: center;
}