.parent{
    width: 416px;
    height: 416px;
    border: 5px solid red;

    display: grid;
}

.child1{
    width: 416px;
    height: 416px;

    background-image: url(image.png);
    background-size: cover;
    border-radius: 10px;
    background-color: rgba(217, 255, 0, 0.7);
}

.child2{
    width: 416px;
    height: 416px;

    background-image: url(image\ copy.png);
    background-size: cover;
    border-radius: 10px;
    background-color: rgba(217, 255, 0, 0.7);

    border: 5px solid red;
}

.child3{
    width: 416px;
    height: 416px;

    background-image: url(image\ copy\ 2.png);
    background-size: cover;
    border-radius: 10px;
    background-color: rgba(217, 255, 0, 0.7);

    border: 5px solid red;
}


.child4{
    width: 416px;
    height: 416px;

    background-image: url(image\ copy\ 3.png);
    background-size: cover;
    border-radius: 10px;
    background-color: rgba(217, 255, 0, 0.7);

    border: 5px solid red;
}