.container {
    display: flex;
    justify-content: space-around;
}

.child {
    width: 350px;
    height: 350px;
    background-color: black;
}

.secondContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.child2 {
    width: 350px;
    height: 350px;
    background-color: black;
}

span {
    position: absolute;
    margin-left: 1400px;
}