*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body{
    background-color: brown;
}

.image-bac{
    background-image: url(image.png);
    margin-left: 600px;
    margin-top: 230px;
    margin-right: 40px;

    height: 300px;
    width: 500px;

    background-position: center;
    background-size: cover;
    
    overflow: hidden;

    box-shadow: -5px 5px 5px red;

    border-radius: 35px;


}

.text{
    text-align: center;

    padding-top: 105px;

    font-size: xx-large;

    color: white;
   background-color: rgba(0, 0, 230, 0.4);

}

.text2{
    background-color: rgba(0, 0, 230, 0.4);

    padding-bottom: 10000000000px;


    font-size: 1px;


background-position: center;
}